---
import homeImage from '@/assets/home.webp'
import Layout from '@/layouts/Layout.astro'
import { getImage } from 'astro:assets'
import { getCollection } from 'astro:content'
import type { Locales } from '~/types/i18n'

export async function getStaticPaths() {
  return (await getCollection('posts')).map((post) => {
    const [lang, ...slug] = post.slug.split('/') as [Locales, ...string[]]
    return { params: { lang, slug: slug.join('/') || undefined }, props: post }
  })
}

const { lang } = Astro.params as { lang: Locales }
const page = Astro.props
const { Content } = await page.render()

const availableLocales = (await getCollection('posts'))
  .filter((post) => post.slug.slice(2) === page.slug.slice(2))
  .map((post) => post.slug.slice(0, 2)) as Locales[]

const optimizedBackground = await getImage({
  src: page.data.image || homeImage,
  format: 'webp',
  quality: 80,
  width: 1920,
})
---

<Layout title="TO_SET" image={optimizedBackground.src} description="TO_SET" {availableLocales} {lang}>
  <div
    style={`background-image: url(${optimizedBackground.src});`}
    class="h-[500px] w-full bg-cover bg-center text-white"
  >
    <div class="flex size-full items-center justify-center bg-black/40">
      <div class="max-w-[1176px] space-y-5 px-3 text-center">
        <div class="text-4xl font-normal leading-snug md:text-5xl">{page.data.title}</div>
        <div class="">
          {
            page.data.date.toLocaleDateString(lang, {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })
          }
        </div>
      </div>
    </div>
  </div>
  <main class="container mx-auto overflow-hidden break-words px-3 py-12">
    <section class="prose mx-auto prose-blockquote:before:content-['“']">
      <Content />
    </section>
  </main>
</Layout>
