---
import '@/styles/globals.css'

interface Props {
  title: string
  description: string
  image?: string
  availableLocales: ('ja' | 'en')[]
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const { title, description, image = '/blog-placeholder-1.jpg', availableLocales } = Astro.props

function getAlternateURL(locale: string) {
  const url = new URL(canonicalURL.pathname.replace(/^\/(ja|en)/, `/${locale}`), Astro.site)
  return url
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
<meta name="generator" content={Astro.generator} />

<!-- <AstroFont
  config={[
    {
      name: 'MonumentGrotesk',
      src: [
        {
          style: 'normal',
          weight: '400',
          path: join(process.cwd(), 'public', 'fonts', 'MonumentGrotesk.woff2'),
        },
        {
          style: 'medium',
          weight: '500',
          path: join(process.cwd(), 'public', 'fonts', 'MonumentGroteskMedium.woff2'),
        },
        {
          style: 'bold',
          weight: '900',
          path: join(process.cwd(), 'public', 'fonts', 'MonumentGroteskBold.woff2'),
        },
      ],
      preload: true,
      display: 'swap',
      selector: 'body',
      fallback: 'sans-serif',
      cssVariable: 'MonumentGrotesk',
    },
  ]}
/> -->
<link rel="sitemap" href="/sitemap-index.xml" />

{availableLocales.map((locale) => <link rel="alternate" href={getAlternateURL(locale)} hreflang={locale} />)}

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
