---
import { LanguageToggle } from '@/components/LanguageToggle'
import { ModeToggle } from '@/components/ModeToggle'
import { Picture } from 'astro:assets'
import GreyLogo from '@/assets/ml-logo-grey.png'
import YellowLogo from '@/assets/ml-logo-yellow.png'
import { type Locales } from '@/types/i18n'

interface Props {
  availableLocales: Locales[]
  lang: Locales
}

const { availableLocales, lang } = Astro.props
const enPath = Astro.url.pathname.replace(/^\/(ja|en)/, '/en')
const jaPath = Astro.url.pathname.replace(/^\/(ja|en)/, '/ja')
---

<header
  class="sticky top-0 z-50 w-full border-b border-slate-200 bg-background backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <a class="container flex h-16 max-w-5xl items-center justify-between" href={`/${lang}`}>
    <div>
      <Picture class="h-4 w-auto max-w-[180px] dark:hidden" src={GreyLogo} alt="Monstar lab" />
      <Picture class="hidden h-4 w-auto max-w-[180px] dark:block" src={YellowLogo} alt="Monstar lab" />
    </div>
    <div>
      <ModeToggle client:load />
      <LanguageToggle client:load enPath={enPath} jaPath={jaPath} availableLocales={availableLocales} lang={lang} />
    </div>
  </a>
</header>
