---
import homeImage from '@/assets/images/home.webp'
import CategoryNav from '@/components/CategoryNav.astro'
import Hero from '@/components/Hero.astro'
import PostCard from '@/components/PostCard.astro'
import ThePagination from '@/components/ThePagination.astro'
import { langs } from '@/constants'
import Layout from '@/layouts/Layout.astro'
import type { Locales } from '@/types/i18n'
import type { GetStaticPathsOptions } from 'astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = (await getCollection('posts')).sort((a, b) => {
    return new Date(a.data.date) > new Date(b.data.date) ? -1 : 1
  })
  return langs.flatMap((lang) => {
    const filteredPosts = allPosts.filter((post) => post.slug.startsWith(lang)).slice(1)

    return paginate(filteredPosts, {
      params: { lang },
      pageSize: 9,
    })
  })
}

const { page } = Astro.props
const { lang } = Astro.params as { lang: Locales }

// Get all categories with posts in current locale
const categories = await getCollection('posts', ({ slug }) => {
  return slug.startsWith(lang)
}).then(async (posts) => {
  const categorySlugs = posts
    .map((post) => post.data.categories?.map((category) => category.id))
    .filter(Boolean)
    .flat()
  return await getCollection('categories', ({ id }) => {
    return categorySlugs.includes(id)
  })
})

const firstPost = (await getCollection('posts'))
  .sort((a, b) => {
    return new Date(a.data.date) > new Date(b.data.date) ? -1 : 1
  })
  .filter((post) => post.slug.startsWith(lang))[0]
---

<Layout title="TO_SET" description="TO_SET" availableLocales={langs} {lang}>
  <main>
    <div class="relative">
      <div
        class="flex size-full h-[500px] items-center justify-center after:absolute after:top-0 after:size-full after:bg-black/40"
      >
        <Hero src={homeImage} alt="" {lang} />
        <div class="absolute z-10 max-w-7xl px-3 text-center text-white">
          <h1 class="mb-10 text-3xl md:text-5xl">Welcome to Monstarlab's Engineering Blog</h1>
          <p class="">
            We love engaging with the tech community, and we are big consumers of the awesome work that people share
            online. Here we are going give back a little and share our tech knowledge about all things we do at
            Monstarlab.
          </p>
        </div>
      </div>
    </div>
    <div class="container max-w-7xl">
      <CategoryNav {categories} {lang} class="pb-2.5 pt-12" />
      <PostCard post={firstPost} {lang} />
      <ul class="grid grid-cols-1 gap-x-6 gap-y-8 py-12 md:grid-cols-3">
        {
          page.data.map((post) => (
            <li>
              <PostCard {post} {lang} />
            </li>
          ))
        }
      </ul>
      {
        page.size > 1 && (
          <div class="p-5 md:p-20">
            <ThePagination currentPage={page.currentPage} lastPage={page.lastPage} url={page.url} />
          </div>
        )
      }
    </div>
  </main>
</Layout>
