---
import homeImage from '@/assets/images/home.webp'
import { langs } from '@/constants'
import Layout from '@/layouts/Layout.astro'
import type { GetStaticPathsOptions } from 'astro'
import { getCollection } from 'astro:content'
import CategoryNav from '~/components/CategoryNav.astro'
import Hero from '~/components/Hero.astro'
import PostCard from '~/components/PostCard.astro'
import ThePagination from '~/components/ThePagination.astro'
import type { Locales } from '~/types/i18n'

const allPosts = await getCollection('posts', ({ data }) => data.categories !== null)

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = (await getCollection('posts', ({ data }) => data.categories !== null)).sort((a, b) => {
    return new Date(a.data.date) > new Date(b.data.date) ? -1 : 1
  })

  const categories = await getCollection('categories')
  return langs.flatMap((lang) => {
    return categories
      .flatMap((category) => {
        const filteredPosts = allPosts.filter(
          (post) =>
            post.slug.startsWith(lang) && post.data.categories?.some((postCategory) => postCategory.id === category.id),
        )

        if (filteredPosts.length === 0) return

        return paginate(filteredPosts.slice(1), {
          params: { lang, slug: category.id },
          pageSize: 9,
        })
      })
      .filter(Boolean)
  })
}

const { page } = Astro.props
const { lang, slug: category } = Astro.params

// const currentCategory = await getEntry('categories', category)

const availableLocales = allPosts
  .filter((post) => post.data.categories !== null)
  .filter((post) => post.data.categories?.some((postCategory) => postCategory.id === category))
  .flatMap((post) => post.slug.slice(0, 2)) as Locales[]

// Get all categories with posts in current locale
const categories = await getCollection('posts', ({ slug }) => {
  return slug.startsWith(lang)
}).then(async (posts) => {
  const categorySlugs = posts
    .map((post) => post.data.categories?.map((category) => category.id))
    .filter(Boolean)
    .flat()
  return await getCollection('categories', ({ id }) => {
    return categorySlugs.includes(id)
  })
})

const firstPost = (
  await getCollection('posts', ({ data, slug }) => {
    return slug.startsWith(lang) && data.categories?.some((postCategory) => postCategory.id === category)
  })
).sort((a, b) => {
  return new Date(a.data.date) > new Date(b.data.date) ? -1 : 1
})[0]
---

<Layout title="TO_SET" image="" description="TO_SET" {availableLocales} {lang}>
  <div class="relative">
    <div
      class="flex size-full h-[500px] items-center justify-center after:absolute after:top-0 after:size-full after:bg-black/40"
    >
      <Hero src={homeImage} alt="" {lang} />
      <div class="absolute z-10 max-w-7xl px-3 text-center text-white">
        <h1 class="mb-10 text-3xl md:text-5xl">{category}</h1>
      </div>
    </div>
  </div>
  <div class="container max-w-7xl">
    <CategoryNav {categories} {lang} class="pb-2.5 pt-12" />
    <PostCard post={firstPost} {lang} />
    <ul class="grid grid-cols-1 gap-x-6 gap-y-8 py-12 md:grid-cols-3">
      {
        page.data.map((post) => (
          <li>
            <PostCard {post} {lang} />
          </li>
        ))
      }
    </ul>
    {
      page.size > 1 && (
        <div class="p-5 md:p-20">
          <ThePagination currentPage={page.currentPage} lastPage={page.lastPage} url={page.url} />
        </div>
      )
    }
  </div>
</Layout>
